@import '../../assets/css/pixels';
@import '../../assets/css/radius';
@import '../../assets/css/colors.scss';
@import '../../assets/css/shadow.scss';
@import '../../assets/css/padding.scss';

.Header {
  height: 100%;
  .container{
    background: #2b2b2b;
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    .logo{
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .logo-title{
        font-size: 25px;
        font-weight: bold;
        .logo-title-first{
          color: #efbe00
        }
        .logo-title-second{
          color: #fff
        }
        
      }
    }
    .header-content{
      width: 70%;
      display: flex;
      justify-content: space-between;
      .account-info{
        display: flex;
        justify-content: space-around;
        margin-left: 50px;
        align-items: center;
        color: white;
        width: 50%;
        .account-balance{
          color: #efbe00;
        }
      }
      .account-shopping-cart{
        height: 30%;
        display: flex;
        justify-content:  baseline;
        position: relative;
        .carts-numbers{
          background: #efbe00;
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          top: -7px;
          left: 7px;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .Header {
    .logo {
      margin-top: -10px !important;
    }
  }
}
